body {
    background: rgb(30, 30, 30);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

.videohardware {
    margin: 0 auto;
    text-align: center;
}

p, a {
    text-align: center;
    text-decoration: none;
    color: #FFFF;
}

.back {
    text-align: center;
}