body {
    background: rgb(30, 30, 30);
    font-family: sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

.videopython {
    margin: 0 auto; 
    text-align: center;
}

p, a {
    text-align: center;
    text-decoration: none; 
    color: #FFFF;
}

.back {
    text-align: center;
}